* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --Green: hsl(75, 94%, 57%);
    --White: hsl(0, 0%, 100%);
    /* buttons */
    --Grey-700: hsl(0, 0%, 20%);
    /* card  bg-color */
    --Grey-800: hsl(0, 0%, 12%);
    /* bgcolor */
    --Grey-900: hsl(0, 0%, 8%);
}

body {
    font-family: "Inter", sans-serif;
    background-color: var(--Grey-900);
}

img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
}

.social-card {
    background-color: var(--Grey-800);
    width: 25%;
    margin: 60px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    padding: 20px;
    text-align: center;
    border-radius: 4px;
}

.social-card .details h3 {
    color: var(--White);
    font-weight: 600;
    margin-bottom: 5px;
    font-size: 22px;
}

.social-card .details .text-green {
    color: var(--Green);
}

.social-card .text-grey {
    color: var(--Grey-700);
    font-weight: 600;
    font-size: 20px;
}


.social-card .btn {
    display: block;
    width: 100%;
    padding: 10px 20px;
    background-color: var(--Grey-700);
    border: none;
    border-radius: 4px;
    transition: all 0.1s ease;
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
    color: var(--White);
}

.social-card .btn:hover {
    background-color: var(--Green);
    color: var(--Grey-800);
}

@media (max-width: 560px) {
    .social-card {
        width: 80%;
        margin: 60px auto;
    }
}
